/* Colors:
Defaults come from:
https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-freelancer/5.0.4/css/freelancer.css
... see index.html for the link
Bootstrap css:
https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css

#040437 = dark blue (but I don't think we quite matched the shade of the logo)
  ... logo is 111155... change? (changed just for menu/buttons)
#F5F0E1 -- off-white
#183A8F -- less purple 
             kicks in in some contexts for mouse over button
 		         also, internet connectivity icons at the bottom
#226666 == darker teal green
#79b5b5 == lighter teal green

#000000 -- black
#FFFFFF -- white
*/

html, body, h1, h2, h3, h4, h5, h6{
	font-family: Roboto, Helvetica, sans-serif;
}

.p{
	font-family: Roboto, Helvetica, sans-serif;
}

.bg-first {
  background-color: #040437  !important;

}

.bg-second {
  background-color: #F5F0E1;

}

.bg-third {
  background-color: #FFFFFF
}
a{
		color: #183A8F;
}
a:hover{
		color: #226666 !important;
}

/* CBC: trying to fix button (btn) hovering for donate link... changing hover colors */
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #79b5b5;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #79b5b5;
}
a:focus, a:hover, a:active {
  color: #79b5b5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
		background-color: #79b5b5;
		border-color: #128f76;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
		background-color: #79b5b5;
    border-color: #1a252f;
}
.btn-dark:hover {
  color: #fff;
  background-color: #79b5b5;
  border-color: #1d2124;
}
a.text-dark:hover, a.text-dark:focus {
  color: #226666 !important;
  background-color: #79b5b5;
}




#mainNav .navbar-brand{
	color: black;
	font-size:1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

#mainNav .navbar-nav li.nav-item a.nav-link{
	color: black;
	font-family: Roboto, Helvetica, sans-serif;

}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active{
		background: #111155;
}

.header.masthead h2 {
	font: Roboto;
}
.container{
	padding-left: 0px;
	margin-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	max-width: 100%;
	max-height: 100%;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.bg{
	background: url("../img/OpenMaineSmall.jpg") left center no-repeat;
	background-size: cover;
  display: flex;
  height: 80vh;
  max-height: 200px;
  min-height: 60vh;
  padding: 0px;
  position: relative;
}

.col-sm-7{
	padding-right: 0px;
	padding-left: 0px;
}

#mainNav{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	color: black;
}
.navbar-nav{
	color: black;
}

.grid3{
  height: 200px;
  background: rgba(0,0,0,.4);
  float: none;
  display: inline-block;
  background-clip: content-box
}

.box {
	background: #fff;
	border-radius: 20px;
	width: 300px;
	height: 335px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
	color: #000000;
	font-size: 18px;
}

.box-img{
	background: white center no-repeat;
	background-size: cover;
	display: block;
	height: 0;
	border-radius: 15px 15px 0 0;
	padding-top: 50%;
	width: 100%;
}

.box-details{
	padding: 16px;
}
.projectbox-img{
	background: white center no-repeat;
	background-size: 90%;
	display: block;
	height: 0;
	border-radius: 15px 15px 0 0;
	padding-top: 30%;
	width: 100%;
}
.projectbox-img1{
	background: white center no-repeat;
	background-size: 100%;
	display: block;
	height: 0;
	border-radius: 5px 5px 0 0;
	padding-top: 30%;
	width: 100%;
}

.list-inline{
	font-size: 1.5rem;
}
.footer{
	background-color: #FFFFFF;
}

.copyright {
    background-color: #040437;
}
